name: Build & Deploy

on:
  push:
    branches:
      - root

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-tags: true

      - name: Set up Java
        uses: actions/setup-java@v4

        with:
          java-version: 17
          distribution: temurin

      - name: Build
        uses: gradle/gradle-build-action@v2

        with:
          arguments: build
          dependency-graph: generate-and-submit

      - name: Upload artifacts
        uses: actions/upload-artifact@v3

        with:
          name: JARs
          path: build/libs/*.jar
          if-no-files-found: warn

      - name: Validate version
        id: version
        run: |
          VERSION=$(cat .version)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

          if git show-ref --tags --verify --quiet "refs/tags/${VERSION}"; then
            echo "Version ${VERSION} was already released"
            exit 1
          fi

      - name: Release artifacts
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          automatic_release_tag: ${{ steps.version.outputs.version }}
          files: |
            build/libs/*.jar
            LICENSE.md
